<div th:fragment="header">

<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        
        <span class="fs-4">Лучший блять симулятор населения</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/eblan">Игра</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/popcard-list">Список попов</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/add">Новая игра</a>
        <a class="py-2 text-dark text-decoration-none" href="#">Не придумал</a>
      </nav>
    </div>

</div>